<div id="settingsContent"></div>
<div class="urlListContainer">
    <div class="grid-header">
        <div class="grid-header-item">User Name</div>
        <div class="grid-header-item">IDK</div>
        <div class="grid-header-item">Admin?</div>
        <div class="grid-header-item">Expiry</div>
        <div class="grid-header-item">Action</div>
    </div>

    
        <div class="grid-content">
            <div class="grid-item"><a class="urlEndpoint" id="endpoint1" href="/gAeNh" style="min-width: 78px; max-width: 78px;">/gAeNh</a></div>
            <div class="grid-item"><a class="theURL" id="endpointUrl1" href="https://olayzen.com">https://olayzen.com</a></div>
            <div class="grid-item"><a>never</a></div>
            <div class="grid-item"><a>unlimited</a></div>
            <div class="grid-item">
                <div class="urlButtonContainer">
                    <img class="iconCopy" src="/static/img/copy.svg" alt="Copy" onclick="copyEndpoint('1')">
                    <img class="iconQR" src="/static/img/qr.svg" alt="Remove" onclick="makeQR('/gAeNh')">
                    <img class="iconEdit" src="/static/img/edit.svg" alt="Edit" onclick="editEndpoint('1')">
                    <img class="iconRemove" src="/static/img/trashcan.svg" alt="Remove" onclick="removeEndpoint('1')">
                </div>
            </div>
        </div>
</div>