:root{
    --primary-color: #111111;
    --secondary-color: #2c292a;
    --tertiary-color: #242122;
    --quaternary-color: #a3a0a1;;


    --toast-message: #252525;
    --placeholder-color: #686566;
    --input-border: #403d3e;
    --hide-show-color: #c5c5c5;
    --password-strength-color: #e2e2e2;
    --password-strength-Indicator: var(var(--secondary-color));


    --text-color: white;
    --reverse-text-color: black;
    --White: white;
    --Black: black;

    --ok-button-color: #6928c6;
    --ok-button-hover-color: #9bbb58;

    --weak-password-indicator: #f73f36;
    --medium-password-indicator: #d39a0b;
    --strong-password-indicator: #24ce53;
}

p.textInQRCode {
    margin: 0;
    padding: 0;
}

.iconCopy,
.iconEdit,
.iconRemove,
.iconTimer,
.iconQR {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 25%; 
}

head, body {
    background: var(--primary-color);
    color: #fff;
    margin: 0;
    padding: 0;
}

.project {
    height: 100dvh;
    width: 100dvw;
    align-content: center;
}

ul#endpointList {
    min-width: 573px;
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #2c2c2c;
    border-radius: 10px;
    margin: 0;
    padding: 10px 0px;
}


.endpointListContainer > p {
    font-size: 32px;
    margin: 15px 0 2px 0;
}


.endpointListContainer {
    width: calc(100dvw - 16px);
    display: flex;
    flex-direction: column;
    /* margin: 0 25px 0 25px; */
    align-items: center;
}

img:not(#qrCode)  {
    filter: invert(1);
}

a {
    color: white;
}

li:nth-child(2n) {
    background: #272727;
}

.infoBox {
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: #000000b0;
}

/* CSS */
button, .button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button.long {
    width: 100%;
    display: block;
    text-align: center;
}

/* Apply style to all .button.long elements except the first one */
.button.long:not(:first-of-type) {
    margin-top: 10px;
}

.buttonSettings{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.boxBox {
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    height: min-content;
    background: var(--secondary-color);
    padding: 25px;
    justify-content: center;
    /* border: 4px solid #303030; */
    /* backdrop-filter: blur(792px); */
}


img#qrCode {
    max-height: 40%;
}

div#qrInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}



.charlesLeclerc {
    background: var(--primary-color);
    padding: 25px 0 25px 0;
    height: 100%;
    width: 312px;
}

div.addUrlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    /* box-shadow: 1px 0 3px #353434, 1px 0 2px #0e0e0e; */
}


.buttonUrlContainer {
    display: flex;
    justify-content: center;
}


.enterUrlContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#expiry {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

/* input {
    background: #c5c5c51f;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    font-size: 16px;
    margin: 7px 0px 7px 0px;
    color: white;
} */


.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
}

.inputContainerSpacing {
    margin-bottom: 20px;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    width: 520px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

input {
    color: var(--text-color);
    background: var(--tertiary-color);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    max-height: 40px;
    width: 409px;
    padding: 16.2px 0 2px 10px;
    font-size: 18px;
    /* box-shadow: var(--reverse-text-color) 5px 5px 12px; */
}

.passwordContainerSidebySide{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.passwordContainerSidebySide > div > input {
    width: 198px;
}

.passwordContainerSidebySide > div > .labelContainer > p{
    left: 165px;
}

.placeholderWithText {
    top: -1px !important;
}
.placeholder {
    top: -5px;
}

.placeholder{
    color: var(--placeholder-color);
    transition: margin-top .2s;
    transition: font-size .2s;
    user-select: none;
    position: relative;
    left: 61px;
    bottom: -44px;
}

.placeholderWithText {
    margin: 0;
    margin-top: 6px;
    font-size: 10px;
    transition: margin-top .2s;
    transition: font-size .2s;
}


.iconTimer {
    width: 36px;
    height: 36px;
    margin: 4px 0 7px 0;
}

.addUrlFormContainer > h1 {
    color: white;
    margin: 0 0 10px 0;
    align-self: center;
}

/* .buttonUrlContainer > button:hover {
    background: #a8ffa52b;
}

.buttonUrlContainer > button {
    color: #fff;
    background: #c5c5c51f;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
    padding: 6px;
    margin: 0;
    width: 420px;
} */


.maxUsesContainer, .hoursActiveContainer {
    display: flex;
    flex-direction: column;
}

.theURL {
    width: 330px;
    text-shadow: black 1px 1px;
    color: #5e5df0;
}

.urlEndpoint,  .urlContainer > a {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display an ellipsis (...) to indicate text overflow */
}


.urlListContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: calc(100% - 40px);
    padding: 20px;
    margin-top: 20px;
    row-gap: 0px;
    column-gap: 0px;
    border-radius: 5px;
    /* box-shadow: #9595952e 0px 0px 15px; */
    /* box-shadow: #0000002e 0px 0px 29px; */
}

.grid-header {
    display: contents;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.grid-header-item {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    font-weight: bolder;
}

.urlEndpoint, .theURL {
    display: inline-block;
    max-width: 200px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#orgUrl {
    display: inline-block;
    max-width: 250px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}


.grid-content {
    display: contents;
}

.grid-item {
    align-content: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.urlButtonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.iconCopy, .iconQR, .iconEdit, .iconRemove {
    width: 20px;
    cursor: pointer;
}

.flashMessage {
    background: red;
    display: flex;
    justify-content: center;
    font-size: 17px;
    height: 45px;
    align-items: 
    center;position: fixed;
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease-in-out; /* This defines the fade-out transition */
}

img.iconRemove:hover {
    filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(7425%) hue-rotate(0deg) brightness(98%) contrast(101%) !important;
}

.urlButtonContainer > img {
    padding: 0 3px;
    height: 21.7px;
    width: 21.7px;
}

/* Alternating row colors */
.grid-content:nth-child(even) .grid-item {
    background: #161616;
}

.grid-content:nth-child(odd) .grid-item {
    background: #111111; /* Default background for odd rows */
}


/* Customize first and last div in every odd row */
.grid-content:nth-child(even) .grid-item:first-child {
    background: linear-gradient(90deg, rgb(17, 17, 17) 0%, rgb(22, 22, 22) 20%, rgb(22, 22, 22) 100%);
}

.grid-content:nth-child(even) .grid-item:last-child {
    background: linear-gradient(90deg, rgb(22, 22, 22) 0%, rgb(22, 22, 22) 80%, rgb(17, 17, 17) 100%);
}

a {
    font-size: 18px;
}

a, p, h1, h2, h3, label, button, input, div{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.urlContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.urlButtonContainer {
    display: flex;
    align-items: center;
}


li {
    display: flex;
    justify-content: center;
}

#endpointList > li:nth-child(1) > div > div.urlContainer > div {
    margin-right: 42px;
}

.topNav {
    width: 100%;
    height: 80px;
    display: flex;
    /* border-bottom: 5px solid black; */
    justify-content: center;
    font-size: 26px;
}

#endpointList{
    height: 100dvh;
    width: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    box-shadow: -1px 0 4px #000000, -2px 0 9px #575757;
    /* box-shadow: -1px 0 4px #ffffff, -2px 0 9px #bfbfbf; */
    align-items: center;
    border-radius: 12px 0 0 0;
}

a.version {
    bottom: 3px;
    position: fixed;
    right: 3px;
    color: white;
    margin: 0;
    font-size: 10px;
}

.addUrlHeader{
    color: white;
}

.forgot-password {
    text-align: center;
    padding-top: 15px;
}

@media (prefers-color-scheme: light) {
    :root{
        --primary-color: #fff;
    }
    a:not(.button, .theURL), .urlListContainer, .addUrlHeader, a.version, .urlEndpoint, .boxBox , .urlListContainer > a, div.endpointListContainer > div.topNav > p,#endpointList, #endpointList > li:nth-child(1) > div > div.urlContainer > a ,body > div > div > div.addUrlContainer > div > form > h1 {
        color: #000 !important;
    }
    #endpointList {
        box-shadow: -1px 0 4px #ffffff, -2px 0 9px #bfbfbf;
    }
    img:not(#qrCode) {
        filter: invert(0);
    }
    ul#endpointList{
        background: #ffffff;
        box-shadow: #d1d1d1ad 0px 0px 4px;
    }
    li:nth-child(2n) {
        background: #f9f9f9;
    }
    input {
        color: black;
        background: #efefef;
    }
    .boxBox {
        background: #ffffff;
    }
    .theURL {
        width: 330px;
        text-shadow: black 1px 1px;
        color: #5e5df0 !important;
    }  
    .grid-content:nth-child(even) .grid-item {
        background: #f9f9f9;
    }
    
    .grid-content:nth-child(odd) .grid-item {
        background-color: #ffffff; /* Default background for odd rows */
    }
    .grid-header-item {
        background-color: transparent;
    }
    .urlListContainer {
        /* box-shadow: #0000002e 0px 0px 15px; */
        background: transparent;
    }
    /* Customize first and last div in every odd row */
    .grid-content:nth-child(even) .grid-item:first-child {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 20%, rgba(249,249,249,1) 100%);;
    }

    .grid-content:nth-child(even) .grid-item:last-child {
    background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 80%, rgba(255,255,255,1) 100%);;
    }
}
