<meta charset="UTF-8" />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<script src="https://kit.fontawesome.com/47dbf3c43e.js" crossorigin="anonymous"></script>
<script src="https://input-js.olayzen.net/static/js/input.js" defer></script>

<script src="{{ url_for('static', filename='js/copyEndpoint.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/editEndpoint.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/getEndpointData.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/makeQR.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/removeEndpoint.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/setExpiry.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/ShowSomething.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/togglePassword.js') }}" defer></script>

<script src="{{ url_for('static', filename='js/inputExceptions.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<a href="https://github.com/LoserPurp/purple-link" class="version">v1.1.1 dev</a>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">