<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Purple Link</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://kit.fontawesome.com/47dbf3c43e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <div class="project">
        <div style="display: flex;flex-direction: row; height: 100%;">
        <div class="addUrlContainer">
            <div class="charlesLeclerc">
                <form method="POST" action="/" class="addUrlFormContainer">
                    <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                        <h1 class="addUrlHeader">Add URL</h1>
                        <img class="iconTimer" src="{{ url_for('static', filename='img/timer.svg') }}" alt="Remove" onclick="setExpiry()">
                    </div>
                    <div class="enterUrlContainer">

                    <div class="inputContainer inputContainerSpacing">
                        <input type="text" id="url" name="url" required onfocus="updatePlaceHolder('url')" style="width: 250px;">
                        <div class="labelContainer">
                            <p id="urlplaceholder" class="placeholder" style="left: 139px;">Enter URL</p>
                        </div>
                    </div>   

        
                    </div>
                    <div id="expiry" style="display: none;" hidden="true">
                        <div class="inputContainer inputContainerSpacing">
                            <input type="number" id="expire" name="expire" required onfocus="updatePlaceHolder('expire')" style="width: 250px;">
                            <div class="labelContainer">
                                <p id="expireplaceholder" class="placeholder" style="left: 139px;">Hours Active</p>
                            </div>
                        </div> 
                        <div class="inputContainer inputContainerSpacing">
                            <input type="number" id="maxUses" name="maxUses" required onfocus="updatePlaceHolder('maxUses')" style="width: 250px;">
                            <div class="labelContainer">
                                <p id="maxUsesplaceholder" class="placeholder" style="left: 139px;">Max Uses</p>
                            </div>
                        </div> 
                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="pass" name="pass" required onfocus="updatePlaceHolder('pass')" style="width: 250px;">
                            <div class="labelContainer">
                                <p id="passplaceholder" class="placeholder" style="left: 139px;">Endpoint Password</p>
                            </div>
                        </div> 
                    </div>
                    <div class="buttonUrlContainer">
                        <button type="submit">Submit</button>
                    </div>   
                </form>
                <!-- <a href="/settings" class="buttonSettings"><i class="fa-solid fa-gear" style="font-size: 25px;color: #5e5df0;"></i></a> -->
            </div>
        </div>

        <div class="endpointListContainer">
            <p>URL List</p>
            <div id="endpointList" style="height: 100dvh;display: flex;overflow-y: auto;flex-direction: column;align-items: center;">
                <div class="urlListContainer">
                    <div class="grid-header">
                        <div class="grid-header-item">Path</div>
                        <div class="grid-header-item">URL</div>
                        <div class="grid-header-item">Uses</div>
                        <div class="grid-header-item">Expiry</div>
                        <div class="grid-header-item">Action</div>
                    </div>
                
                    {% for key, path, url, uses, expiry in entries %}
                        <div class="grid-content">
                            <div class="grid-item"><a class="urlEndpoint" id="endpoint{{key}}" href="{{ path }}">{{ path }}</a></div>
                            <div class="grid-item"><a class="theURL" id="endpointUrl{{key}}" href="{{ url }}">{{ url }}</a></div>
                            <div class="grid-item"><a>{{ uses }}</a></div>
                            <div class="grid-item"><a>{{ expiry }}</a></div>
                            <div class="grid-item">
                                <div class="urlButtonContainer">
                                    <img class="iconCopy" src="{{ url_for('static', filename='img/copy.svg') }}" alt="Copy" onclick="copyEndpoint('{{ key }}')">
                                    <img class="iconQR" src="{{ url_for('static', filename='img/qr.svg') }}" alt="Remove" onclick="makeQR('{{ path }}')">
                                    <img class="iconEdit" src="{{ url_for('static', filename='img/edit.svg') }}" alt="Edit" onclick="editEndpoint('{{ key }}')">
                                    <img class="iconRemove" src="{{ url_for('static', filename='img/trashcan.svg') }}" alt="Remove" onclick="removeEndpoint('{{ key }}')">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>

        <div class="infoBox" id="infoBox" style="display: none;">
            <div class="boxBox">

                <div id="changeEndpointContainer" hidden="true">
                    <h2>Change Endpoint</h2>
                    <form method="POST" action="/change_endpoint">



                        <div class="inputContainer inputContainerSpacing" style="display: none;">
                            <input type="text" id="index" name="index" grequired onfocus="updatePlaceHolder('index')">
                            <div class="labelContainer">
                                <p id="indexplaceholder" class="placeholder">Endpoint Number</p>
                            </div>
                        </div> 

                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="new_endpoint" name="new_endpoint" required onfocus="updatePlaceHolder('new_endpoint')">
                            <div class="labelContainer">
                                <p id="new_endpointplaceholder" class="placeholder">Change Endpoint</p>
                            </div>
                        </div> 

                        
                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="new_url" name="url" required onfocus="updatePlaceHolder('new_url')">
                            <div class="labelContainer">
                                <p id="new_urlplaceholder" class="placeholder">Change URL</p>
                            </div>
                        </div> 

                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="new_expiry" name="expiry" required onfocus="updatePlaceHolder('new_expiry')">
                            <div class="labelContainer">
                                <p id="new_expiryplaceholder" class="placeholder">Change Expiry</p>
                            </div>
                        </div> 


                        <!-- <label for="">Change Password</label> -->
                        <div class="passwordContainerSidebySide">
                            <div class="inputContainer inputContainerSpacing">
                                <input type="text" id="old_password" name="passwordOld" required onfocus="updatePlaceHolder('old_password')">
                                <div class="labelContainer">
                                    <p id="old_passwordplaceholder" class="placeholder">Old Password</p>
                                </div>
                            </div> 
                            <div class="inputContainer inputContainerSpacing">
                                <input type="text" id="new_password" name="password" required onfocus="updatePlaceHolder('new_password')">
                                <div class="labelContainer">
                                    <p id="new_passwordplaceholder" class="placeholder">New Password</p>
                                </div>
                            </div> 
                        </div>

                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="new_uses" name="uses" required onfocus="updatePlaceHolder('new_uses')">
                            <div class="labelContainer">
                                <p id="new_usesplaceholder" class="placeholder">Uses Left</p>
                            </div>
                        </div> 

                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div id="qrInfo">
                    <div style="display: flex;flex-direction: row;">
                    <img id="qrCode" style="height: 170px;">
                    <div style="display: grid;width: fit-content;grid-template-columns: 80px 1fr;">
                        <label>Endpoint:</label>
                        <a class="textInQRCode" id="endpointPath"></a>
                        <label>Url:</label>
                        <a class="textInQRCode" id="orgUrl"></a>
                        <label>Expiry:</label>
                        <p class="textInQRCode" id="endpointExpiry"></p>
                        <label>Password:</label>
                        <p class="textInQRCode" id="endpointPass"></p>
                        <label>Uses left:</label>
                        <p class="textInQRCode" id="endpointUses"></p>
                    </div>   
                    </div>       
                    <button onclick="downloadQr()"> Download QR Code</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <a href="https://github.com/LoserPurp/purple-link" class="version">v1.0.2</a>
</html>
