<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
        <title>Purple Link</title>
    </head>
    <body>
        <!-- Flash messages block -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashMessage">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    <div class="project">
        <div class="projectContainer">
        <div class="addUrlContainer">
            <div class="charlesLeclerc">
                <form method="POST" action="/dashboard" class="addUrlFormContainer">
                    <div class="h2Text">
                        <h1 class="addUrlHeader">Add URL</h1>
                        <a onclick="setExpiry()" style="font-size: 12px;text-decoration: underline; cursor: pointer;">Advanced Options</a>
                        <!-- <img class="iconTimer" src="{{ url_for('static', filename='img/timer.svg') }}" alt="Remove" onclick="setExpiry()"> -->
                    </div>
                    <div class="mobileUI">
                    <div class="enterUrlContainer">

                    <div class="inputContainer inputContainerSpacing">
                        <input type="text" id="url" name="url" required onfocus="updatePlaceHolder('url')" style="width: 250px;">
                        <div class="labelContainer">
                            <p id="urlplaceholder" class="placeholder" style="left: 139px;">Enter URL</p>
                        </div>
                    </div>   

        
                    </div>
                    <div id="expiry" style="display: block; bottom: 355px;" hidden="true">
                        
                        
                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="path" name="path" onfocus="updatePlaceHolder('path')" style="width: 250px;">
                            <div class="labelContainer">
                                <p id="pathplaceholder" class="placeholder" style="left: 139px;">Custom Endpoint</p>
                            </div>
                        </div>                      
                        <div class="inputContainer inputContainerSpacing">
                            <input type="datetime-local" id="expire" name="expire" style="width: 250px;">
                            <div class="labelContainer">
                                <p id="expireplaceholder" class="placeholder placeholderWithText" style="left: 139px;">Hours Active</p>
                            </div>
                        </div> 
                        <div class="inputContainer inputContainerSpacing">
                            <input type="number" id="maxUses" name="maxUses" onfocus="updatePlaceHolder('maxUses')" style="width: 250px;">
                            <div class="labelContainer">
                                <p id="maxUsesplaceholder" class="placeholder" style="left: 139px;">Max Uses</p>
                            </div>
                        </div> 
                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="pass" name="pass" onfocus="updatePlaceHolder('pass')" style="width: 250px;">
                            <div class="labelContainer">
                                <p id="passplaceholder" class="placeholder" style="left: 139px;">Endpoint Password</p>
                            </div>
                        </div> 

                        <div style="display: flex;width: 312px;flex-direction: row;height: 41.4px;justify-content: center; margin-bottom: 20px;">
                            <div style=" width: 261.6px;display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                                <p style="font-size: 18px; color: var(--text-color);">Redirect</p>
                                <div class="checkbox-wrapper-6">
                                    <input class="tgl tgl-light" id="redirect" name="redirect" type="checkbox"/>
                                    <label class="tgl-btn" for="redirect">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="buttonUrlContainer" id="buttonUrlContainer">
                        <button type="submit">Submit</button>
                    </div>   
                </form>
                <a href="/settings" class="buttonSettings"><i class="fa-solid fa-gear" ></i></a>
            </div>
        </div>

        <div class="endpointListContainer">
            <div class="topNav"><p>URL List</p></div>

            <div id="endpointList">
                <div class="urlListContainer">
                    <div class="grid-header">
                        <div class="grid-header-item">Endpoint</div>
                        <div class="grid-header-item">URL</div>
                        <div class="grid-header-item">Expiry</div>
                        <div class="grid-header-item">Uses</div>
                        <div class="grid-header-item">Redirect</div>
                        <div class="grid-header-item">Actions</div>
                    </div>
                
                    {% for key, path, url, uses, expiry, redirect in entries %}
                        <div class="grid-content">
                            <div class="grid-item"><a class="urlEndpoint" id="endpoint{{key}}" href="{{ path }}">{{ path }}</a></div>
                            <div class="grid-item"><a class="theURL" id="endpointUrl{{key}}" href="{{ url }}">{{ url }}</a></div>
                            <div class="grid-item"><a>{{ uses }}</a></div>
                            <div class="grid-item"><a>{{ expiry }}</a></div>
                            <div class="grid-item"><a>{{ redirect }}</a></div>
                            <div class="grid-item">
                                <div class="urlButtonContainer">
                                    <img class="iconCopy" src="{{ url_for('static', filename='img/copy.svg') }}" alt="Copy" onclick="copyEndpoint('{{ key }}')">
                                    <img class="iconQR" src="{{ url_for('static', filename='img/qr.svg') }}" alt="Remove" onclick="makeQR('{{ path }}')">
                                    <img class="iconEdit" src="{{ url_for('static', filename='img/edit.svg') }}" alt="Edit" onclick="editEndpoint('{{ key }}')">
                                    <img class="iconRemove" src="{{ url_for('static', filename='img/trashcan.svg') }}" alt="Remove" onclick="removeEndpoint('{{ key }}')">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>

        <div class="infoBox" id="infoBox" style="display: none;">
            <div class="boxBox">

                <div id="changeEndpointContainer" hidden="true">
                    <h2>Change Endpoint</h2>
                    <form method="POST" action="/change_endpoint">
                        <div class="inputContainer inputContainerSpacing" style="display: none;">
                            <input type="text" id="index" name="index" required onfocus="updatePlaceHolder('index')">
                            <div class="labelContainer">
                                <p id="indexplaceholder" class="placeholder">Endpoint Number</p>
                            </div>
                        </div> 

                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="new_endpoint" name="new_endpoint" onfocus="updatePlaceHolder('new_endpoint')">
                            <div class="labelContainer">
                                <p id="new_endpointplaceholder" class="placeholder">Change Endpoint</p>
                            </div>
                        </div> 

                        
                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="new_url" name="url" onfocus="updatePlaceHolder('new_url')">
                            <div class="labelContainer">
                                <p id="new_urlplaceholder" class="placeholder">Change URL</p>
                            </div>
                        </div> 

                        <div class="inputContainer inputContainerSpacing">
                            <input type="datetime-local" id="new_expiry" name="expiry">
                            <div class="labelContainer">
                                <p id="new_expiryplaceholder" class="placeholder placeholderWithText">Change Expiry</p>
                            </div>
                        </div> 
                        
                        <div class="inputContainer inputContainerSpacing">
                            <input type="text" id="new_uses" name="uses" onfocus="updatePlaceHolder('new_uses')">
                            <div class="labelContainer">
                                <p id="new_usesplaceholder" class="placeholder">Uses Left</p>
                            </div>
                        </div>
                        
                        
                        <div style="margin-bottom: 20px;height: 41px; left: 39px;position: relative;" id="showPasswordButton"><a onclick="showPassword()" class="button">Change Password</a></div>                    
                        
                        <div class="passwordContainerSidebySide" style="display: none;">
                            <div class="inputContainer inputContainerSpacing">
                                <input type="text" id="old_password" name="passwordOld" onfocus="updatePlaceHolder('old_password')">
                                <div class="labelContainer">
                                    <p id="old_passwordplaceholder" class="placeholder">Old Password</p>
                                </div>
                            </div> 
                            <div class="inputContainer inputContainerSpacing">
                                <input type="text" id="new_password" name="password" onfocus="updatePlaceHolder('new_password')">
                                <div class="labelContainer">
                                    <p id="new_passwordplaceholder" class="placeholder">New Password</p>
                                </div>
                            </div> 
                        </div>
                        
                        <div style="margin-bottom: 20px;height: 41px;left: 39px;position: relative;display: flex;align-items: center;width: 421px;justify-content: space-between;">
                            <p style="font-size: 18px; color: var(--text-color);">Redirect</p>
                            <div class="checkbox-wrapper-6">
                                <input class="tgl tgl-light" id="new_redirect" name="new_redirect" type="checkbox"/>
                                <label class="tgl-btn" for="new_redirect">
                            </div>
                        </div>
                        
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div id="qrInfo">
                    <div style="display: flex;flex-direction: row;">
                    <img id="qrCode" style="height: 170px;">
                    <div style="display: grid;width: fit-content;grid-template-columns: 80px 1fr;">
                        <label>Endpoint:</label>
                        <a class="textInQRCode" id="endpointPath"></a>
                        <label>Url:</label>
                        <a class="textInQRCode" id="orgUrl"></a>
                        <label>Expiry:</label>
                        <p class="textInQRCode" id="endpointExpiry"></p>
                        <label>Password:</label>
                        <p class="textInQRCode" id="endpointPass"></p>
                        <label>Uses left:</label>
                        <p class="textInQRCode" id="endpointUses"></p>
                    </div>   
                    </div>       
                    <button onclick="downloadQr()"> Download QR Code</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
</html>
