<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <title>Login</title>
</head>
<body>
    <body>
            <!-- Flash messages block -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flashMessage">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        <div class="login-container">
            <form action="/login" method="POST">
                <div style="display: flex;flex-direction: column;align-items: center;">
                    <a style="font-size: 35px;padding: 20px 0;">Login</a>
                    <div class="inputContainer inputContainerSpacing">
                        <input type="text" id="username" name="username" data-placeholder="usernameplaceholder" required style="width: 250px;">
                        <div class="labelContainer">
                            <p id="usernameplaceholder" class="placeholder" style="left: 139px;">Username</p>
                        </div>
                    </div> 

                    <div class="inputContainer inputContainerSpacing">
                        <input type="password" id="password" name="password" data-placeholder="passwordplaceholder" required style="width: 250px;">
                        <div class="labelContainer">
                            <p id="passwordplaceholder" class="placeholder" style="left: 139px;">Password</p>
                            <p id="hideShowpassword" class="hideShow" onmousedown="togglePassword('password')" style="position: relative;right: 137px;bottom: 4px;color: var(--text-color);">Show</p>
                        </div>
                    </div> 




                    <button type="submit" class="login-btn">Login</button>
                </div>
            </form>
            <div class="forgot-password">
                <a href="#">Forgot your password?</a>
            </div>
        </div>
</body>
</html>